<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Data collector App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/main.css">
</head>

<body>
    <div class="container">
        <h1>Collecting heights</h1>
        <h3>please fill the entries to get population statics on height</h3>
        <div class="message">
            <p>{{text | safe}}</p>
        </div>
        <form action="{{url_for('success')}}" method="POST">
            <input title="Your email will be safe with us" placeholder="Enter your Email" type="email" name="email"
                required>
            <input title="Your data will be safe with us" placeholder="Enter your height" type="number" min="50"
                max="300" name="height" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>